@font-face{
	font-family: 'ptSerif-normal';
	src: url('ptSerif-normal.eot');
	src: url('ptSerif-normal.eot?#iefix') format('embedded-opentype'),
	     url('ptSerif-normal.woff') format('woff'),
	     url('ptSerif-normal.ttf') format('truetype'),
	     url('ptSerif-normal.svg#webfont') format('svg');	
}

@font-face{
	font-family: 'ptSerif-italic';
	src: url('ptSerif-italic.eot');
	src: url('ptSerif-italic.eot?#iefix') format('embedded-opentype'),
	     url('ptSerif-italic.woff') format('woff'),
	     url('ptSerif-italic.ttf') format('truetype'),
	     url('ptSerif-italic.svg#webfont') format('svg');	
}

@font-face{
	font-family: 'ptSerif-bold';
	src: url('ptSerif-bold.eot');
	src: url('ptSerif-bold.eot?#iefix') format('embedded-opentype'),
	     url('ptSerif-bold.woff') format('woff'),
	     url('ptSerif-bold.ttf') format('truetype'),
	     url('ptSerif-bold.svg#webfont') format('svg');	
}


@font-face{
	font-family: 'ptSerif-italic-bold';
	src: url('ptSerif-italic-bold.eot');
	src: url('ptSerif-italic-bold.eot?#iefix') format('embedded-opentype'),
	     url('ptSerif-italic-bold.woff') format('woff'),
	     url('ptSerif-italic-bold.ttf') format('truetype'),
	     url('ptSerif-italic-bold.svg#webfont') format('svg');	
}

