img {
    border: 0 none;
    height: auto;
    max-width: 100%;
}

span.napsrounded img {
	
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	
}
    @media (max-width: 480px) {
span.mpinaps{width:94%!important;margin:0 3%!important;}

}